.btn {
  cursor: pointer;
  line-height: 20px;
  padding: 0 8px;
}

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.list {
  width: 300px;
  min-height: 30px;
  margin-right: 8px;
}

.task-container {
  min-height: 50px;
  background-color: antiquewhite;
  padding: 10px;
}

.task {
  background: white;
  color: black;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  min-height: 120px;
}

.add-list-button {
  align-self: center;
}